# .coveragerc to control coverage.py
[run]
branch = True
source = timeseries, pype, tsdb
omit = 
    pype/parsetab.py
    pype/__init__.py
    timeseries/__init__.py
    # for web_app case, the unittest doesn't cover test cases.. but still test cases are valid.

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
