# Travis configuration file using the build matrix feature
# Read more under http://docs.travis-ci.com/user/build-configuration/
# THIS SCRIPT IS SUPPOSED TO BE AN EXAMPLE. MODIFY IT ACCORDING TO YOUR NEEDS!


sudo: false
language: python
virtualenv:
  system_site_packages: true
env:
  matrix:
    - DISTRIB="conda" PYTHON_VERSION="3.5" COVERAGE="false"

addons:
  apt:
    packages:
      - git
      - python-pip
before_install:
    - pip install pytest pytest-cov
    - pip install coveralls
install:
  - source tests/travis_install.sh
  - pip install -r requirements.txt
  - conda install --yes numpy ply
  - pip install coverage 
before_script:
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"
script:
  - python setup.py test
after_success:
  - coveralls
cache:
  - apt
notifications:
  email: 
    - qingzhao@g.harvard.edu
    - jeewonhwang@g.harvard.edu
    - chenchenzhang@g.harvard.edu
    - tang01@g.harvard.edu  
    - 85831374@qq.com
